@media only screen and (min-width: 64em ) {
    .hamburger {
        display:none;
    }
    
   .logo {
        max-height: 150px;
    }
    
    .spoke {
        font-size: 3em;
    }
    
    .title {
        margin-top: 20px;
    }
    
    .bike {
	width: 190px;
    }
    
    .down {
	width: 190px;
    }
    
    #goaway {
        display: none;
    }

}