@media only screen and (min-width: 64em ) {
      
    .hamburger {
        display:none;
    }
    
    .sign {
        width: auto;
        
    }
    
    .weather {
        position: relative;
    }
    
   .now {
        /*width: 575px;
        height: 100px;
        position: absolute;        
        text-align: center;*/
        position: absolute;
       top: -10px;
       right: 55px
    }
    
    h2 {
        margin: 0;
        padding-bottom: 10px;
    }
    
    /*.sun {
        position: absolute;
        top: 8px;
        left: 16px;
    }*/
    
    .rain {
        float: right;
        height: 120px;
    }
    
     th, td {
        border: 1px solid black;
        padding-right: 8px;
        text-align: center;
    }
    
   /*.stats {
        display: absolute   
        padding-top: 5px;
        position: absolute;
        left: 115px;
    }
    
    h2 {
        margin: 0;
        padding-bottom: 5px;
        position: relative;
        right: 115px;
        
    }*/
    
    /*.franklin {
        position: absolute;
        right: 50px;
    }*/
    
    .sunny, .high, .low, .precip, .wind {
        padding-bottom: 3px;
    }
    
    .grid {
        display:grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-row-gap: 25px;
        grid-row-gap:25px;
        grid-column-gap: 25px; 
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        margin: 0% 3%;
    }

    .imgone {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .imgtwo {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .imgthree {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .imgfour {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .imgfive {
        grid-column-start: 1;
        grid-row-start: 5;
    }

    .imgsix {
        grid-column-start: 1;
        grid-row-start: 6;
    }

    .description1, .description2, .description3, .description4, .description5, .description6 {
        width: 150px;
    }
    
    .griditem:hover {
        box-shadow: 3px 10px; 
    }
}