.grid {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-row-gap: 25px;
        grid-row-gap:25px;
        margin-top: 20px;
        margin: 0% 3%;
}

.imgone {
    grid-column-start: 1;
    grid-row-start: 1;

}

.imgtwo {
    grid-column-start: 1;
    grid-row-start: 2;
}

.imgthree {
    grid-column-start: 1;
    grid-row-start: 3;
}

.imgfour {
    grid-column-start: 1;
    grid-row-start: 4;
}

.imgfive {
    grid-column-start: 1;
    grid-row-start: 5;
}

.imgsix {
    grid-column-start: 1;
    grid-row-start: 6;
}

.description1, .description2, .description3, .description4, .description5, .description6 {
    width: 200px;
}

.griditem{
    justify-content: center;
}
    