* {
    font-family: 'Ubuntu', sans-serif;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

thead, tfoot {
    background-color: lightseagreen;
}

tfoot {
    font-size: .7em;
}

th, td {
    text-align: center;
}

tbody tr:first-child {
    background-color: steelblue;
    color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(2n+3) {
    background-color: #e7ffed 
}

.oneallowed {
    background-color: steelblue;
    color: #e7f0ed;
}

thead tr {
    font-weight: bold;
}